@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

Circle {
    -fx-fill: "transparent"; /* dodgerblue a la base */
    -fx-stroke: "transparent"; /* blue a la base*/
}

Rectangle {
    -fx-fill: "transparent";/* dodgerblue a la base */
    -fx-stroke: "transparent"; /* blue a la base*/
}